




 .tabs .tab a{
            color:white;

        } /*Black color to the text*/

        .tabs .tab a:hover {
            color:white;
            background-color:#1b5e20;
        } /*Text color on hover*/

         .tabs .tab a.active {
            color:white;
        } 

        .tabs .indicator {
            background-color:black;
             color:white;
        } /*Color of underline*/


.brand-logo >img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
/* Menu - profile */
.bg-card-user {
  background: linear-gradient(#34e89e, #0f3443);
  padding: 15px 0;
}
.truncate >img {
  width: 180px;
  margin-top: 6px;
  margin-bottom: 6px;
}
/* FOOTER */
footer .foot-text {
  margin-top: 10px;
}

/* LOGIN */
.logueo {/* PARALLAX */
    height: 650px!important;
}
i.iconis {
    font-size: 1em!important;
    margin-top: 8px;
}
.login-card {
    border: 1px solid #FFF;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.7);
    padding: 40px;
}

.gradient-45deg-light-blue-teal.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}
.gradient-45deg-red-pink {
  background: #FF5252;
  background: -webkit-linear-gradient(45deg, #dbf2f2 0%, #4db6ac 100%);
}

.min-height-100 {
  min-height: 240px !important;
}

.white-text {
  color: #FFFFFF !important;
}
.padding-4 {
  padding: 4% !important;
}

.background-round {
  background-color: rgba(0, 0, 0, 0.18);
  padding: 15px;
  border-radius: 50%;
}

.no-margin {
  margin: 0% !important;
}

.ml-2 {
  margin-left: 1% !important;
}


.ml-5 {
  margin-left: 5% !important;
}


.mt-2 {
  margin-top: 2% !important;
}

.mt-3 {
  margin-top: 3% !important;
}

.mt-5 {
  margin-top: 5% !important;
}

.nav {
  background-color: black!important;
}